<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Web Tech Talks</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link href="styles/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="styles/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/Styles.css"/>
</head>
<body>
    <div data-ng-app="techTalkApp">
        <div class="container">
            <div class="row page-header">
                <h2>Web Tech Talks</h2>
            </div>
            <div class="row">
                <ul class="nav navbar-nav">
                    <li><a href="#/list">View Talks</a></li>
                    <li><a href="#/add">Add Talk</a></li>
                    <li><a href="#/directives">Directives</a></li>
                </ul>
            </div>

            <div data-ng-view="" id="ng-view" class="slide-reveal"></div>

        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="scripts/jquery-ui-1.10.3.js"></script>
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular-animate.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

    <script src="app/templates.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/techTalksApp.js"></script>
    <script src="app/controllers/HomeCtrl.js"></script>
    <script src="app/controllers/AddTalkCtrl.js"></script>
    <script src="app/controllers/EditTalkCtrl.js"></script>
    <script src="app/controllers/AddTalkCtrl.js"></script>
    <script src="app/controllers/DirectivesCtrl.js"></script>
    <script src="app/services/techTalkDataSvc.js"></script>
    <script src="app/directives/busyIndicator.js"></script>
    <script src="app/directives/uniqueTechTalk.js"></script>

</body>
</html>