<div class="row">
    <form name="newTalkForm" novalidate="">
        <table style="width: 50%">
            <tr>
                <td>Title: </td>
                <td>
                    <input name="title" type="text" required data-ng-model="newTalk.title" unique-tech-talk />
                </td>
            </tr>
            <tr>
                <td>Speaker: </td>
                <td>
                    <input name="speaker" type="text" required data-ng-model="newTalk.speaker" />
                </td>
            </tr>
            <tr>
                <td>Category: </td>
                <td>
                    <select name="category" data-ng-model="newTalk.category" data-ng-options="c for c in categories"></select>
                </td>
            </tr>
            <tr>
                <td>Duration: </td>
                <td>
                    <input name="duration" type="text" data-ng-model="newTalk.duration" required data-ng-pattern="integerval" />
                </td>
            </tr>
            <tr>
                <td>Level: </td>
                <td>
                    <select name="level" data-ng-model="newTalk.level" data-ng-options="l for l in levels"></select>
                </td>
            </tr>
            <tr>
                <td>Rating: </td>
                <td>
                    <select name="rating" data-ng-model="newTalk.rating" data-ng-options="r for r in ratings"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary" data-ng-click="addTalk()" data-ng-disabled="newTalkForm.$invalid">Add</button></td>
                <td>
                    <button type="button" class="btn btn-default" data-ng-click="cancelAddingTalk()">Cancel</button></td>
            </tr>
        </table>
        <br />
        <div data-ng-show="newTalkForm.title.$dirty && newTalkForm.title.$invalid">
            <span data-ng-show="newTalkForm.title.$error.required">Title cannot be left blank</span>
            <span data-ng-show="newTalkForm.title.$error.uniqueTechTalk">This title is already added</span>
        </div>
        <div data-ng-show="newTalkForm.duration.$dirty && newTalkForm.duration.$invalid">
            <span data-ng-show="newTalkForm.duration.$error.required">Duration cannot be left blank</span> 
            <span data-ng-show="newTalkForm.duration.$error.pattern">Duration should be an integer</span>
        </div>
    </form>
</div>
