<div class="row">
    Search by any:
    <input type="text" name="search" data-ng-model="searchTerm.$" />
    &nbsp;
    &nbsp;
    Search by title:
    <input type="text" name="searchName" data-ng-model="searchTerm.title" />
    &nbsp;
    &nbsp;
    Sort By: 
    <select data-ng-model="sortField">
        <option value="title">Title</option>
        <option value="duration">Duration</option>
        <option value="level">Level</option>
    </select>
</div>

<div class="row">
    <section class="view-list">
        <article data-ng-repeat="talk in talks | filter:searchTerm | orderBy:sortField" class="repeat-animation article-left-content">
            <div>
                <img class="img-polaroid" src="styles/Images/Web.png" />
                <span>{{talk.title}}</span> by <em>{{talk.speaker}}</em>
                <br />
                <small>{{talk.category}}</small>
                <br />
                <small class="left">Level: {{talk.level}}</small>
                <small class="right">Duration: {{talk.duration | duration}}</small>
                <small class="right">Rated: {{talk.rating}}</small>
                <br />
                <a href="#/edit/{{talk.title}}" class="btn-link">Edit</a>
            </div>
        </article>
    </section>
</div>

<div data-busy-indicator="" data-ng-hide="isListLoaded"></div>