.view-container {
    position: relative;
}

.view-frame.ng-enter {
    background: white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.view-frame.ng-enter {
    -webkit-animation: 1s fade-in;
    -moz-animation: 1s fade-in;
    -o-animation: 1s fade-in;
    animation: 1s fade-in;
    /*z-index: 100;*/
}

.view-frame.ng-leave {
    -webkit-animation: 1s fade-out;
    -moz-animation: 1s fade-out;
    -o-animation: 1s fade-out;
    animation: 1s fade-out;

}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.view-list {
    margin-top: 1%;
}

/*.view-list > article:hover {
        cursor: pointer;
        color: white;
        background-color: #0081C2;
        background-image: -moz-linear-gradient(top,#59C0F3,#0081C2);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#59C0F3),to(#0081C2));
        background-image: -webkit-linear-gradient(top,#59C0F3,#0081C2);
        background-image: -o-linear-gradient(top,#59C0F3,#0081C2);
        background-image: linear-gradient(to bottom,#59C0F3,#0081C2);
        background-repeat: repeat-x;
        border-color: #59C0F3 #0081C2 #194D7B;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }

    .view-list > article:hover small {
        color: white;
    }*/

.view-list > article h1 {
    font-size: 125%;
    line-height: 120%;
    margin-bottom: 2%;
}

.view-list > article > div > img {
    height: 80px;
    float: left;
    margin-right: 4%;
}

.view-list > article > div > time {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: right;
    margin-left: 2%;
    text-transform: uppercase;
}

.view-list > article > div > address {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 95%;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.view-list > .article-container-full-width img {
    float: none;
    display: block;
    margin: auto;
}

.view-list > .article-container-full-width address {
    text-align: center;
}

.article-left-content {
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px rgba(255,255,255,.8);
    min-height: 100px;
    padding: 20px;
}

.article-container-full-width {
    margin: 6px;
    float: left;
    width: 110px;
    height: 140px;
    border-bottom: solid 0 transparent;
    padding: 1.5% .5%;
}

small.right {
    clear: right;
    float: right;
}

#ng-view {
    position: relative;
}

.slide-animation.ng-enter, .slide-animation.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    position: relative;
    top: 0;
    min-height: 1000px;
}

.slide-animation.ng-enter {
    opacity: 0;
}

.slide-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.slide-animation.ng-leave {
    opacity: 1;
}

.slide-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

body.skip-animations * {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}

.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.show-hide-animation.ng-hide-remove {
    opacity: 0;
}

.show-hide-animation.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.show-hide-animation.ng-hide-add {
    opacity: 1;
}

.show-hide-animation.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position: relative;
}

.repeat-animation.ng-enter {
    left: 10px;
    opacity: 0;
}

.repeat-animation.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1;
}

.repeat-animation.ng-leave {
    left: 10px;
    opacity: 1;
}

.repeat-animation.ng-leave.ng-leave-active {
    left: -10px;
    opacity: 0;
}

.repeat-animation.ng-move {
    opacity: 0.5;
}

.repeat-animation.ng-move.ng-move-active {
    opacity: 1;
}


form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

span[data-ng-show] {
    color: #FA787E;
}

.slide-reveal.ng-enter {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:0.5;
    position:relative;
    opacity:0;
    top:10px;
}
.slide-reveal.ng-enter.ng-enter-active {
    top:0;
    opacity:1;
}